<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h6 class="mt-4"><a href="#">@<%= current_user.username%>'s</a> Followers</h6>
            
            <hr>

            <%= render 'users', users: @follower_users %>

            <div class="media mb-4">
                <div class="media-body">
                    <%= will_paginate @follower_users %>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->