<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h3 class="mt-4">My Tweets</h3>
            <!-- Author -->
            <p class="lead">
                by <a href="#">@<%= current_user.username%></a>
            </p>
            <hr>

            <!-- Single Comment -->
            <%= render 'tweets', tweets: @tweets %>

            <div class="media mb-4">
                <div class="media-body">
                    <%= will_paginate @tweets %>
                </div>
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
            <h5 class="card-header">New Tweet</h5>
            <div class="card-body">
                <div class="input-group">
                <span class="input-group-btn">
                    <a href="<%= new_tweet_path %>" class="btn btn-primary" type="button">Create New Tweet</a>
                </span>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
